@media only screen and (min-width: 1024px) {
  .Profile {
    display: grid;
    grid-template-columns: 300px 20px auto;
    grid-template-rows: 70px auto;
  }

  .Profile-name-container {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .Profile-bio-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

@media only screen and (max-width: 1023px) {
  .Profile {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 455px auto;
  }
  .Profile-name-container {
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

.Profile-name {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 3px;
  background-color: #EB6864;
  color: #fff;
  border-radius: 0.3rem;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.Profile-title {
  font-weight: 400;
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  color: #222;
}

.Profile-horizontal-rule {
  border: none;
  color: #bbb;
  background-color: #bbb;
  height: 1px;
}

.Profile-bio {
  padding: 17px;
  color: #333;
}

.Profile-contact {
  padding: 17px;
  padding-top: 4px;
  color: #333;
}

.Profile-github {
  display: block;
  color: #fff;
  background-color: #232121;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0.3rem;
  text-decoration: none;
  height: 24px;
  width: fit-content;
}

.Profile-github-text {
  text-align: center;
  position: relative;
  margin-left: 8px;
  font-weight: 600;
  bottom: 6px;
}